body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  font-size: 22px;
  color: seashell;
  opacity: 0.6;
  text-align: center;
}

/* HEADER */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background: black;
  z-index: 10;
}

header img {
  margin-left: 10px;
  height: 50px;
}

header ul {
  display: flex;
  align-items: center;
  margin: 20px;
}

header ul li {
  list-style: none;
  text-decoration: underline;
  padding: 0px 10px;
}

header ul li a {
  color: seashell;
  opacity: 0.9;
}

/* MAIN CONTENT */
main {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  top: 69px;
}

/* MISSION SECTION */
#mission-section {
  height: 700px;
  max-width: 1200px;
  background-image: url("./resources/images/mission-background.jpeg");
  display: flex;
  align-items: center;
}

#mission-section div {
  background: black;
  width: 100%;
}

#mission-section h2 {
}

/* TEA OF THE MONTH */
#tea-of-month-section {
  flex: 1;
}

.card {
  height: 200px;
  width: 300px;
}

.card img {
  height: 100%;
  width: 100%;
}

.card h3 {
}

/* LOCATIONS SECTION */
#locations-section {
  flex: 1;
}
